* {
	box-sizing: border-box;
	outline: 1px solid;
}

html {
	height: 100vh;
}

body {
	width: 200px;
	margin: 0 auto;
}

.screen {
	height: 75px;
	font-size: 50px;
	overflow: auto;
}

/* operators */

.operators {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.operator {
	height: 50px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

.star {
	line-height: 67px;
}

.minus {
	line-height: 40px;
}

/* others */

.others {
	display: grid;
	grid-template-columns: 150px 50px;
}

/* numbers */

.numbers {
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.number {
	height: 50px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

.zero {
	grid-area: 4 / 1 / 4 / 3;
}

.dot {
	grid-column-start: 3;
}

/* commands */

.commands {
	width: 50px;
}

.command {
	width: 100%;
	height: 50px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

.AC {
	font-size: 30px;
}
.equals {
	height: 100px;
	line-height: 100px;
}
